<footer>
    <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>Get Started</h4>
              <h4>FAQS</h4>
              <h4>Micro-Credentials</h4>
          </div>
          <div class="col-md-4">
              <h4>Social Media</h4>
              <h4>Twitter</h4>
              <h4>Facebook</h4>
          </div>
          <div class="col-md-4">
            <h4>Contact Us</h4>
            <h4>12 Western Ave <br> Allston, Ma 02134</h4>
            <h4>Info@ParachuteTeachers.com</h4>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12"></div>
        <%= image_tag("whiteclear.png")%>
    </div>
    </div>
</footer>
