<% if current_page?(root_path) %>
    <header class="intro-header" id="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <span class="subheading"> BRINGING UNTAPPED TALENT TO LOCAL SCHOOLS</span>
                    <hr class="small">
                    <h1>PARACHUTE TEACHERS</h1>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(getstarted_path) %>
    <header class="intro-header" style="background-image:
    url('/assets/PT+Logo+Main.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Becoming a Parachute Teacher is easy!</h1>
                    <hr class="small">
                    <span class="subheading">BE PART OF THE FUTURE OF BUILDING GREAT SCHOOLS.</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(post_path) %>
    <header class="intro-header" style="background-image:
    url('/assets/clean_blog/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Man must explore, and this is exploration at its greatest</h1>
                    <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% elsif current_page?(contact_path) %>
    <header class="intro-header" style="background-image:
    url('/assets/clean_blog/contact-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                </div>
            </div>
        </div>
    </div>
    </header>
<% end %>
